Selectors 
a {color: purple;}
h5:hover { background-color:slateblue;}
h6:hover { background-color: black;}
.intro {background-color: peru;}
p.center {text-align: center;color: rgb(217, 255, 0);}
p.large { font-size: 200%; }
#firstnanme {background-color: salmon;}
h4 {text-align: center;}
.wdiv {
border: 5px blue;
background-color: chartreuse;
text-align: center;
}
td, th {border: 1px solid
}
.xdiv{
border: 5px chartreuse;
background-color: cyan;
text-align: center;
}
.ydiv{
  border: 5px orange;
  background-color: darkorchid;
  text-align: center;
  }
.zdiv{
border: 5px darkorchid;
background-color: deeppink;
text-align: center;
}
body {
  background-color: yellow;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}